*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 20px;
  background:#333;
  color:white;
}

.logo{
  font-size:22px;
  font-weight:bold;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:20px;
}

.nav-links a{
  text-decoration:none;
  color:white;
  font-size:16px;
}

.nav-links a:hover{
  color:#00bcd4;
}

/* Hamburger */
.menu-icon{
  display:none;
  font-size:26px;
  cursor:pointer;
}

/* Mobile Responsive */
@media (max-width:768px){

  .menu-icon{
    display:block;
  }

  .nav-links{
    position:absolute;
    top:60px;
    left:0;
    width:100%;
    background:#333;
    flex-direction:column;
    align-items:center;
    display:none;
  }

  .nav-links.active{
    display:flex;
  }

  .nav-links li{
    padding:15px 0;
  }
}